@import "utils";

.container {
    padding: 30px;
    @include radius;
    background-color: white;
    width: 235px;
    height: 300px;
    color: black;
    cursor: pointer;
    div {
        img {
            @include profileImage;
            margin-right: 20px;
        }
        margin-bottom: 40px;
    }
}